body {
  font-family: sans-serif;
  padding: 2rem;
  max-width: 900px;
  margin: auto;
  background: #f9f9f9;
}

h1 {
  font-size: 1.6rem;
}

input[type="file"] {
  margin-bottom: 1rem;
}

textarea {
  width: 100%;
  height: 300px;
  font-family: monospace;
  white-space: pre;
  margin: 1rem 0;
}

button {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.4rem 0.8rem;
}
